<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67352335222-ofem2592iqpj6m49fude8ldvta4g57rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67352335222-ofem2592iqpj6m49fude8ldvta4g57rn</string>
	<key>API_KEY</key>
	<string>AIzaSyAbTkYhCIbKDMN97WSpiiT2vzff_jsVcIw</string>
	<key>GCM_SENDER_ID</key>
	<string>67352335222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nftApp</string>
	<key>PROJECT_ID</key>
	<string>nftapp-e4093</string>
	<key>STORAGE_BUCKET</key>
	<string>nftapp-e4093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67352335222:ios:13aa21f5974245f8106057</string>
</dict>
</plist>